<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Online Voting</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <style></style>
</head>
<body>
    <p th:text="${'Welcome ' + user.username + '!'}"></p>
    <div>
        <h2>Register for an election:</h2>
        <form action="register" method=post>
            <label for="electionId">2024 Presidential Election</label>
            <input type="text" hidden id="userId" name="userId" th:value="${user.id}">
            <input type="checkbox" id="electionId" name="electionId" value = "7c6cf504-cbd2-4a68-8da8-e2b1f91d3b85">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>